.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 0 15px;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-listing {
  display: flex;
  gap: 20px;
  width: 100%;
}

.home-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-error-msg {
    color: rgb(255, 32, 32);
}
